<div class="row"> <h2>My List</h2></div>
<div class="row results-width">
  <table class="table table-sm table-striped table-hover">
    <thead>
      <th>Artist</th>
      <th>Track</th>
      <th>Length</th>
      <th>Release Date</th>
      <th>Database</th>
      <th>Buy/DL</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <tr class="song-object" user-song-id="{{songObj.id}}" ng-repeat="songObj in arraySongObj">
        <td class="artist-name">{{songObj.artistName}}</td>
        <td class="track-name">{{songObj.trackName}}</td>
        <td class="track-length">{{songObj.trackLength}}</td>
        <td class="release-date">{{songObj.releaseDate}}</td>
        <td class="song-database">{{songObj.database}}</td>
        <td class="buy-url"><a ng-href="{{songObj.trackViewUrl}}" target="_blank">Buy</a></td>
        <td><a href="#!/my-list" ng-click="deleteFunction($event)">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>