<div>
  <div class="row list-title-custom">
    <h2>SongSearch</h2>
  </div>
  <div class="row text-center-custom">
    <p>A Search Application for DJs.  Cut down on search times.  Search iTunes, Beatport, and your connected record pools all at once. 
    </p>
    <p>This site is an AngularJS project and uses web scraping technology, to use the site you must install the following chrome extension: <a href="https://chrome.google.com/webstore/detail/moesif-origin-cors-change/digfbfaphojjndkpccljibejjbppifbc">Moesif Origin and CORS Changer</a> 
    </p>
  </div>
  <div class="row list-title-custom">
    <a ng-href="#!/login"><button class="btn" ng-show="!isLoggedIn">Log In</button></a>
    <a ng-href="#!/my-list"><button class="btn" ng-show="isLoggedIn">My List</button></a>
  </div>
  <div class="row list-title-custom fixed-bottom">
    <p>&#169; 2017 Eric Palmieri</p>
  </div>
</div>